@import "../../App.scss";

.announcement {
  margin: 100px auto;

  h1 {
    font-family: "Butler";
    color: $hijau;
    font-size: 40px;
    letter-spacing: 20px;
  }

  button {
    font-family: "Karla-Bold";
    font-size: 20px;
    background-color: $oranye;
    color: $kuning;
    width: 220px;
    height: 44px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 50px auto;
    &:hover {
      background-color: $oranyeTua;
      box-shadow: 0px 0px 19px -5px rgba($kuningTua, 0.45);
    }
  }
}

@media screen and (max-width: 768px) {
  .announcement {
    margin: 50px auto;

    h1 {
      font-size: 34px;
      letter-spacing: 0;
      margin-bottom: 20px;
    }

    button {
      width: 200px;
      height: 40px;
      margin: 0 auto;
      font-size: 16px;
    }
  }
}
