@import "../../App.scss";

.description {
  h1 {
    font-family: "Butler";
    color: #354c3c;
    font-size: 40px;
  }

  p {
    font-family: "Karla-Regular";
    color: #1c1a17;
    font-size: 18px;
  }

  .desc-image {
    padding: 0;
  }

  .desc-text {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    margin: 50px auto;

    h1 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }

    .desc-text {
      padding: 0 10px;
    }
  }
}
