@import "../../App.scss";

.faq {
  h1 {
    font-family: "Butler";
    color: $hijau;
    font-size: 50px;
    letter-spacing: 20px;
    margin-bottom: 60px;
  }

  h5 {
    font-family: "Karla-Regular";
    font-weight: 600;
    font-size: 20px;
    color: $hijau;
    text-align: left;
  }

  p {
    font-family: "Karla-Regular";
    font-weight: 400;
    font-size: 18px;
    color: $hitam;
    padding: 18px;
  }
}

@media screen and (max-width: 768px) {
  .faq {
    h1 {
      font-size: 44px;
      margin-bottom: 20px;
    }
  }
}
