@import "../../App.scss";

.hero {
  background-size: cover;
  height: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 270px;
  }

  h1 {
    font-family: "Butler";
    color: $kuning;
    font-size: 60px;
    width: 40%;
    text-shadow: -1px 3px 2px #000000;
  }

  p {
    font-family: "Karla";
    color: $kuning;
    font-size: 28px;
    text-shadow: -1px 3px 2px #000000;
  }

  button {
    font-family: "Karla-Bold";
    font-size: 20px;
    background-color: $oranye;
    color: $kuning;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin: 50px auto;
    &:hover {
      background-color: $oranyeTua;
      box-shadow: 0px 0px 19px -5px rgba($kuningTua, 0.45);
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    max-height: 700px;
    img {
      width: 60%;
    }

    h1 {
      font-size: 40px;
      width: 100%;
    }

    p {
      font-size: 22px;
    }
  }
}
