@import "../../App.scss";

.hero {
  background-size: cover;
  height: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text-vid {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
  }

  .video1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
  }

  .logo-utama {
    width: 270px;
  }

  h1 {
    font-family: "Butler";
    color: $kuning;
    font-size: 60px;
    width: 40%;
    text-shadow: -1px 3px 2px #000000;
  }

  p {
    font-family: "Karla";
    color: $kuning;
    font-size: 28px;
    text-shadow: -1px 3px 2px #000000;
  }

  button {
    font-family: "Karla-Bold";
    font-size: 20px;
    background-color: $oranye;
    color: $kuning;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin: 20px auto;
    &:hover {
      background-color: $oranyeTua;
      box-shadow: 0px 0px 19px -5px rgba($kuningTua, 0.45);
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    // height: 1000px;
    .logo-utama {
      width: 40%;
    }

    h1 {
      font-size: 40px;
      width: 100%;
    }

    p {
      font-size: 22px;
    }
  }
}
