@import "../../App.scss";

.hero {
  background-size: cover;
  height: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 270px;
    box-shadow: 5px 10px #888888;
  }

  h1 {
    font-family: "Butler";
    color: $kuning;
    font-size: 60px;
    width: 40%;
  }

  p {
    font-family: "Karla";
    color: $kuning;
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    max-height: 700px;
    img {
      width: 60%;
    }

    h1 {
      font-size: 40px;
      width: 100%;
    }

    p {
      font-size: 22px;
    }
  }
}
