@import "../../App.scss";

.judges {
  color: $hijau;
  margin: 100px 0;
  .card {
    border: none;
    text-align: center;
    .card-title {
      font-family: "Butler";
      font-size: 32px;
      // letter-spacing: 20px;
    }
    .card-text {
      font-size: 20px;
    }
  }

  h1 {
    font-family: "Butler";
    font-size: 40px;
    letter-spacing: 20px;
  }

  h2 {
    font-family: "Butler";
    font-size: 32px;
    letter-spacing: 20px;
  }

  p {
    font-family: "Karla-Bold";
    font-size: 20px;
    // letter-spacing: 0.49em;
  }

  img {
    width: 200px;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 768px) {
  .judges {
    margin: 50px 0;

    .card-title {
      font-size: 24px;
      // letter-spacing: 12px;
    }

    img {
      width: 50%;
    }

    h1 {
      font-size: 36px;
      letter-spacing: 10px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      letter-spacing: 12px;
    }
  }
}
