@import "../../App.scss";

.sponsor {
  font-family: "Butler";
  margin: 100px auto;

  h1 {
    color: $hijau;
    font-size: 40px;
    letter-spacing: 20px;
  }

  h2 {
    color: $hijau;
    font-size: 28px;
    letter-spacing: 16px;
  }

  img {
    width: 150px;
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .sponsor {
    margin: 50px auto;
    h1 {
      font-size: 34px;
      letter-spacing: 6px;
    }

    h2 {
      font-size: 24px;
      letter-spacing: 10px;
    }

    img {
      width: 120px;
      margin: 20px auto;
    }
  }
}
