@import "../App.scss";

.catalog{
    background-color: #E5E5E5;
    
    .contents{
        padding-bottom: 50px;
        h1{
            font-family: "Butler";
            color: $hijau;
            margin: 0;
            padding: 30px 0;
            font-size: 38px;
            overflow-wrap: anywhere;
        }

        .catalog-h1{
            margin-bottom: 18px;
        }
        
        .nav-link{
            font-family: "Karla-Bold";
            font-size: 20px;
            background-color: $kuning;
            color: $hijau;
            border: 5px solid $hijau;
            border-width: 5px 5px 0px 0px;
            border-radius: 0px;
            transition: 0.2s;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            &:hover{
                background-color: $hijau;
                color: $kuning;
                border: 5px solid $hijau;
                border-width: 5px 5px 0px 0px;
            }
        }
        .nav-link:last-child{
            border-width: 5px 5px 0px 0px;
            &:hover{
                border-width: 5px 5px 0px 0px;
            }
        }

        .nav-link:first-child{
            border-width: 5px 5px 0px 5px;
            &:hover{
                border-width: 5px 5px 0px 5px;
            }
        }

        .nav-item.nav-link{
            height: 50px !important;
            
            @media screen and (max-width: 768px) {
                padding: 0px 8px;
            }
        }

        .nav-item.nav-link.active{
            background-color: $hijau;
            border-style: solid;
            border-color: $hijau;
            border-width: 5px 5px 0px 0px;
            color: $kuning;
            position: relative;
            height: 70px !important;
            margin-top: -20px;
            // bottom: 0px;
            display: flex;
            align-items: center;
        }
        .nav-link.active:last-child{
            border-width: 5px 5px 0px 0px;
            @media screen and (max-width: 768px) {
                padding: 0px 8px;
            }
        }
        .nav-link.active:first-child{
            border-width: 5px 5px 0px 5px;
        }
        .nav-item.nav-link{
            display: flex;
            align-items: center;
            height: 82px;
        }

        .sonnet{
            background-color: $kuning;
            border: 5px solid $hijau;
            padding: 35px;
            h2{
                font-family: "Butler";
                color: $hijau;
                font-size: 28px;
            }
            p{
                font-family: "Karla-Regular";
                font-size: 18px;
                margin-bottom: 0px;
            }
        } 

        .card-pengumuman{
            background-color: $hijau;
            padding: 0px 15px 0px 15px;
            border: 5px solid $hijau;
            margin-bottom: 50px;

            .kiri{
                padding: 0;
                max-height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                object-fit: cover;

                .preview-image{
                    object-fit: cover;
                    overflow: hidden;
                }
                
                .spinner-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 50px;
                    .spinner{
                        width: 60px;
                        height: 60px;
                        color: $kuning;
                    }
                }
            }
            .kanan{
                background-color: $kuning;
            }
            .kanan-inner{
                background-color: $kuning;
                padding: 25px 15px 25px 25px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .top{
                    h3{
                        font-family: "Karla-Bold";
                        font-size: 28px;
                    }
                    p{
                        font-family: "Karla-Regular";
                        font-size: 18px;
                        margin-bottom: 0px;
                    }
                    .tanggal{
                        margin: 15px 0px 3px 0;
                    }
                    .overview{
                        overflow-wrap: anywhere;
                    }
                }
                .bottom{
                    .button-pengumuman{
                        font-family: "Karla-Regular";
                        font-size: 20px;
                        padding: 10px 30px;
                        margin-top: 20px;
                        background-color: $oranye;
                        color: $kuning;
                        border: none;
                        border-radius: 11px;
                        transition: 0.2s;
                        &:hover{
                            background-color: $oranyeTua;
                            box-shadow: 0px 0px 19px -5px rgba($oranyeTua,0.45);
                        }
                    }
                }
            }
        }   
        .spinner-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
            .spinner{
                width: 60px;
                height: 60px;
                color: $hijau;
            }
        }        
    }
}

.modal-pengumuman{
    .modal-content{
        border: none;
        border-radius: 0;
        .modal-wrapper{
            border: 5px solid $hijau;
            background-color: $hijau;
            .modal-header{
                object-fit: cover;
                border-radius: 0;
                border-bottom: 1px solid $kuning;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                padding: 0;
                .modal-preview-image-wrapper{
                    display: flex;
                    overflow: hidden;
                    object-fit: cover;
                    max-height: 300px;
                    .modal-preview-image{
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
                
                h1{
                    font-family: "Karla-Bold";
                }
                .tombol-tutup{
                    text-align: right;
                    margin: 10px 15px 0 0;
                    position: absolute;
                    right: 0;
                    a{
                        &:hover{
                            cursor: pointer;
                        }
                        .MuiSvgIcon-root{
                            width: 40px;
                            height: 40px;
                            padding: 5px;
                            color: $hijau;
                            // background: rgba( $kuningTua , 1);
                            background-color: $kuning;
                            border-radius: 50%;
                            transition: 0.2s;
                            &:hover{
                                background-color: $kuningTua;
                                box-shadow: 0px 0px 19px -5px rgba($kuningTua,0.45);
                            }
                        }
                    }
                }
            }
            .modal-body{
                background-color: $kuning;
                margin-top: 0;
                h3{
                    font-family: "Karla-Bold";
                    font-size: 28px;
                }
                p{
                    font-family: "Karla-Regular";
                    font-size: 18px;
                    margin-bottom: 0px;
                }
                .tanggal{
                    margin: 15px 0px 3px 0;
                }
            }
        }
    }
    
}