@import "../App.scss";

.login{
  .content{
    min-height: 90vh;
    background-color: #E5E5E5;
  
    .background{
      .background-kanan,.background-kiri{
        overflow: hidden;
        object-fit: cover;
        max-height: 90vh;
      }
      .background-kanan{
        position: absolute;
        right: 0;
      }
      .background-kiri{
        position: absolute;
        left: 0;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .container{
      min-height: 90vh;
      font-family: "Karla-Regular";
      display: flex;
      justify-content: flex-start;
      align-items: center;
      form{
        z-index: 1;
        width: 100%;
        h6{
          font-size: 20px;
          font-weight: 700;
        }
  
        .form-control{
          max-width: 500px;
        }
  
        .button-login{
          font-size: 18px;
          padding: 5px 20px;
          margin-top: 10px;
          background-color: $oranye;
          color: $kuning;
          border: none;
          border-radius: 8px;
          transition: 0.2s;
          &:hover{
              background-color: $oranyeTua;
              box-shadow: 0px 0px 19px -5px rgba($oranyeTua,0.45);
          }
        }
      }
    }
  }
}

