@import "../App.scss";

.streaming {
  * {
    font-family: "Karla-Bold";
  }

  .container {
    .judul{
      border-bottom: 1px solid black;
      padding: 10px 0;
      margin: 30px 0 30px 0;
      h2{
          font-family: "Butler";
          color: $hijau;
          font-size: 28px;
      }
    }
    img {
      max-width: 250px;
      padding-bottom: 1rem;
    }
    .header {
      margin: 0 auto;
      padding: 2rem 0;
      font-size: 38px;
      font-family: "Butler";
      color: $hijau;
      text-align: center;
    }
    p {
      font-family: "Karla-Regular";
      font-size: 18px;
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .streaming {
    .container {
      img {
        max-height: 16rem;
      }
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
