body {
  background: #ecf0f1;
  font-family: arial;
  font-weight: 400;
}
h1 {
  font-size: 35px;
  color: #2c97de;
  text-align: center;
  text-transform: uppercase;
}
.accordionMenu {
  width: 500px;
  margin: 0 auto;
}
.accordionMenu input[type="radio"] {
  display: none;
}
.accordionMenu label {
  display: block;
  height: 50px;
  line-height: 47px;
  padding: 0 25px 0 10px;
  background: #2c97de;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}
.accordionMenu label::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.accordionMenu .content {
  max-height: 0;
  height: 0;
  overflow: hidden;
  transition: all 2s ease-in-out;
}
.accordionMenu .content .inner {
  font-size: 1.2rem;
  color: #2c97de;
  line-height: 1.5;
  background: white;
  padding: 20px 10px;
}
.accordionMenu input[type="radio"]:checked + label:after {
  transform: rotate(90deg);
}

.accordionMenu input[type="radio"]:checked + label + .content {
  max-height: 2000px;
  height: auto;
}
