/* .description {
  margin: 100px 0;
  display: flex;
  gap: 50px;
  align-content: stretch;
}

.description h1 {
  font-family: "Butler";
  color: #354c3c;
  font-size: 48px;
}

.description p {
  font-family: "Karla-Regular";
  color: #1c1a17;
  font-size: 20px;
}

.description img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.desc-image {
  flex-grow: 4;
  flex-basis: 90px;
}

.desc-text {
  flex-grow: 6;
  flex-basis: 200px;
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .description {
    margin: 50px 0;
    display: flex;
    align-content: stretch;
  }

  .desc-text {
    flex-grow: 12;
    flex-basis: 0;
    margin-right: 0;
  }
} */

.description .desc-image {
  padding: 0;
}

.description .desc-text {
  padding: 10px 50px;
}

.description h1 {
  font-family: "Butler";
  color: #354c3c;
  font-size: 48px;
}

.description p {
  font-family: "Karla-Regular";
  color: #1c1a17;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .description h1 {
    text-align: center;
    font-size: 36px;
  }
  .description .desc-text {
    padding: 0 10px;
  }
}
