.faq h1 {
  font-family: "Butler";
  color: #354c3c;
  font-size: 50px;
  letter-spacing: 20px;
  margin-bottom: 50px;
}

.faq h5 {
  font-family: "Karla-Regular";
  font-weight: 600;
  font-size: 20px;
  color: #354c3c;
  text-align: left;
}

.faq p {
  font-family: "Karla-Regular";
  font-weight: 400;
  font-size: 18px;
  color: #1c1a17;
  padding: 18px;
}
