@import "../App.scss";

.faq {
  .card {
    border: none;
    text-align: center;
    .card-title {
      font-family: "Butler";
      color: $hijau;
      font-size: 38px;
      letter-spacing: 20px;
    }
  }

  h1 {
    font-family: "Butler";
    color: $hijau;
    font-size: 50px;
    letter-spacing: 20px;
  }

  h5 {
    font-family: "Karla-Regular";
    color: $hijau;
    font-size: 20px;
  }

  p {
    font-family: "Karla-Regular";
    color: $hitam;
    font-size: 18px;
  }
}
