@import "../App.scss";

.global-footer{
    .footer{
        background-color: $hitam;
        font-family: "Karla-Bold";
        text-align: center;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $putih;
        h6{
            font-size: 20px;
            margin: 0;
            margin-top: 1rem;
            padding: 0;
        }
    }
}