@import "../App.scss";
// $bg-img: url("../assets/image/Jumbotron-Byfest.jpg");

.hero {
  // background-image: $bg-img;
  background-size: cover;
  height: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: "Butler";
    color: $kuning;
    font-size: 80px;
  }

  p {
    font-family: "Karla";
    color: $kuning;
    font-size: 24px;
  }
}
