@import "../App.scss";

.sponsor {
  margin: 100px auto;

  h1 {
    font-family: "Butler";
    color: $hijau;
    font-size: 50px;
    letter-spacing: 20px;
  }

  img {
    width: 240px;
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .sponsor {
    margin: 50px auto;
    h1 {
      font-size: 40px;
      letter-spacing: 6px;
    }

    img {
      width: 120px;
      margin: 20px auto;
    }
  }
}
