@import "~bootstrap/scss/bootstrap";


$putih: #F5F8F3;
$kuning: #DEA450;
$kuningTua: #ce974a;
$oranye: #9B461F;
$oranyeTua: #8c401d;
$merah: #6A1D2F;
$hijau: #354C3C;
$hijauTua: #2d4233;
$ungu: #42354C;
$hitam: #1C1A17;

// .App {
//   background-color: #E5E5E5;
// }

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
