@font-face {
  font-family: "Butler";
  src: local("Butler"), url("./fonts/Butler/Butler_Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Karla-Regular";
  src: local("Karla-Regular"), url("./fonts/Karla/Karla-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Karla-Bold";
  src: local("Karla-Bold"), url("./fonts/Karla/Karla-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
